html, body{
    height: 100%;
}

body {
  background-image: url('./bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Courier New", "monospace";
  color: #ffff00
}

.chat-area {
  margin-top: 8vh;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.message-area {
  padding: 10px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  background-color: #000044C9;
  height: 90%;
  width: 100%;
  overflow-y: auto;
}

.input-area {
  width: 100%;
}

input, button {
  margin-top: 10px;
  padding: 10px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  background-color: #000044C9;
  color: #fff;
}
