html, body{
    height: 100%;
    width: 100%;
}

body {
  background-image: url('./bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Courier New", "monospace";
  color: #ffff00;
}

.chat-area {
  margin-top: 8vh;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.message-area {
  padding: 10px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  background-color: #000044C9;
  height: 70%;
  width: 100%;
  overflow-y: auto;
}

.input-area {
  display: block;
  width: 100%;
}

input, button {
  margin-top: 10px;
  padding: 10px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  background-color: #000044C9;
  color: #fff;
}

.fill-input-span {
  display: block;
  overflow: hidden;
}

#username-input {
  float: left;
  margin-right: 10px;
}

#message-input {
  width: 100%;
  margin-right: 10px;
}

#submit-message-button {
  float: right;
  margin-left: 10px;
}
